{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <div class="card mt-4 mb-4">
        <h5 class="card-header bg-dark-subtle">User: {{ found_user.username }}</h5>
        <div class="card-body">
            <a href="" class="btn btn-secondary">{{ found_user.username }} profile</a>
            <img src="{% static 'images/user.svg' %}" class="float-end" alt="user" width="50" height="50">
        </div>
    </div>

    <div class="card mt-5 mb-3">
        {% if not tweets %}
            <h5 class="card-header bg-dark-subtle">User {{ found_user.username }} has no posts</h5>
        {% else %}
            <h5 class="card-header bg-dark-subtle">{{ found_user.username }} last post:</h5>
        {% endif %}

        <div class="card-body mt-1 mb-1">
            <h5 class="card-title">{{ last_tweet.title }}</h5>
            <p class="card-text">{{ last_tweet.date }}</p>
            <p class="card-text">{{ last_tweet.content }}</p>
        </div>
    </div>

{% endblock %}
